* {
  box-sizing: border-box;
}

:root {
  --dark-green: rgb(168, 230, 207);
  --light-green: rgb(220, 237, 193);
  --dark-red: rgb(255, 170, 165);
  --light-red: rgb(255, 211, 182);
  --dark-gray: var(--dark-gray);
}

body {
  margin: 0;
  padding: 0;
  color: var(--dark-gray);
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "Oswald", sans-serif, Arial, sans-serif;
}

p {
  margin: 0;
  font-family: "Roboto", sans-serif, Arial, sans-serif;
}

/* header section */
header {
  display: flex;
  justify-content: center;
  height: screen;
  flex-direction: column;
  align-items: center;
  background-image: url("../images/header-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
    height:100vh;
}

/* about me section */
.about-me-container {
  display: flex;
  flex-direction: row;
flex-wrap: nowrap;

  justify-content: center;
  flex: 500px;
  margin:10px;

}

.self-portrait-img {
  max-width: 100%;
  height: auto;
}

.about-me-text {
  padding:10px;
}
